/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
	background: #fff;
	color: #444;
	font-family: "Open Sans", sans-serif;
	padding-top: 70px;
}

a {
	color: #1bb1dc;
	transition: 0.5s;
}


a:hover,
a:active,
a:focus {
	color: #0a98c0;
	outline: none;
	text-decoration: none;
}

/* .bg{
	background: url('assets/frondend/img/bg.png') center top / 100% no-repeat; min-width: 1200px;
	padding-bottom: 0px; margin: 0px auto 4.375rem; width: 100%;
} */

p {
	padding: 0;
	margin: 0 0 15px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	margin: 0 0 10px 0;
	padding: 0;
}

.scroller {
	max-height: 200px;
	border: 0px solid transparent;
	display: flex;
	overflow-x: auto;
}

.scroller::-webkit-scrollbar {
	width: 0;
}

.scroller .scrhol {
	min-width: 350px;
	height: 100px;
	line-height: 50px;
	text-align: center;
	background-color: #ddd;
	margin-right: 10px;
	border-radius: 7px;
}

.boradius {
	border-radius: 10px;
}

.fotoproduk {
	width: 100%;
	height: 210px;
	background-size: cover;

}

.boxContainer {
	margin-top: 5px;
	margin-bottom: 10px;
	position: relative;
	width: 100%;
	height: 42px;
	border: 1px solid silver;
	padding: 0px 10px;
	border-radius: 50px;
}

.putihtxt {
	color: #fff;
}

.hitamtxt {
	color: black;
}

.elementContainer {
	width: 100%;
	height: 100%;
	vertical-align: middle;
}

.search {
	border: none;
	width: 100%;
	height: 100%;
	padding: 0px 5px;
	border-radius: 50px;
	font-size: 14px;
	color: #424242;

}

.search:focus {
	outline: none;
}

.material-icons {
	font-size: 26;
	color: #4989b9;
}

.scroller .kategori {
	min-width: 140px;
	height: 140px;
	line-height: 70px;
	text-align: center;
	background-color: #ddd;
	margin-right: 10px;
	border-radius: 7px;
}

.fokat {
	width: 140px;
}

.outer {
	border: 1px solid rgba(0, 0, 0, .125);
}


.pre {
	text-align: center;
	padding-top: 50%;
	position: relative;
	color: #212121;
	font-size: 41px;
	letter-spacing: 5px;
	text-transform: uppercase;
	border-bottom: 14px solid #212121;
}

.pre:before {
	text-align: center;
	padding-top: 50%;
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	color: black;
	border-bottom: 14px solid #00ffff;
	overflow: hidden;
	animation: loading 0.9s infinite linear;
}

@keyframes loading {
	0% {
		width: 0%;
	}

	100% {
		width: 100%;
	}
}

.judul {
	padding-bottom: 5px;
	color: red;
}


.menuBawah {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 0;
}

.mwenu {
	padding: 8px 0px;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	flex-flow: column nowrap;
	justify-content: space-around;
	font-size: 12px;
	line-height: 16px;
	color: rgba(49, 53, 59, 0.68);
	text-decoration: initial;
	white-space: nowrap;
	color: #fff;
}

/* li pada nav button */


/* Back to top button */
.back-to-top {
	position: fixed;
	display: none;
	background: #1bb1dc;
	color: #fff;
	width: 44px;
	height: 44px;
	text-align: center;
	line-height: 1;
	font-size: 16px;
	border-radius: 50%;
	right: 15px;
	bottom: 15px;
	transition: background 0.5s;
	z-index: 11;
}

.back-to-top i {
	padding-top: 12px;
	color: #fff;
}

@media (max-width: 768px) {

	body {
		background: #fff;
		color: #444;
		font-family: "Open Sans", sans-serif;
		padding-top: 65px;
	}

	.back-to-top {
		bottom: 55px;
	}
}

.scroller .kategori {
	min-width: 100px;
	height: 100px;
	line-height: 50px;
	text-align: center;
	background-color: #ddd;
	margin-right: 10px;
	border-radius: 7px;
}

.card-medi {
	min-width: 150px;
	height: 150px;
	line-height: 75px;
	text-align: center;
	background-color: #ddd;
	margin-right: 10px;
	border-radius: 7px;
}

/* Prelaoder */
#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
	overflow: hidden;
	background: #fff;
}

#preloader:before {
	content: "";
	position: fixed;
	top: calc(50% - 30px);
	left: calc(50% - 30px);
	border: 6px solid #f2f2f2;
	border-top: 6px solid #1bb1dc;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	-webkit-animation: animate-preloader 1s linear infinite;
	animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes animate-preloader {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
	padding: 0 0 10px 0;
	font-size: 14px;
	transition: all 0.5s;
}

@media (max-width: 991px) {
	#topbar {
		display: none;
	}
}

#topbar .social-links {
	text-align: right;
}

#topbar .social-links a {
	color: #535074;
	padding: 4px 12px;
	display: inline-block;
	line-height: 1px;
}

#topbar .social-links a:hover {
	color: #1bb1dc;
}

#topbar .social-links a:first-child {
	border-left: 0;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
	height: 80px;
	transition: all 0.5s;
	z-index: 997;
	transition: all 0.5s;
	padding: 10px 0;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	transition: all 0.5s;
	z-index: 997;
}

#header.header-scrolled,
#header.header-pages {
	height: 60px;
	padding: 10px 0;
	background-color: #fff;
	box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
}

#header.header-scrolled #topbar,
#header.header-pages #topbar {
	display: none;
}

@media (max-width: 991px) {
	#header {
		height: 60px;
		padding: 10px 0;
	}
}

#header .logo h1 {
	font-size: 36px;
	margin: 0;
	padding: 0;
	line-height: 1;
	font-weight: 400;
	letter-spacing: 3px;
	text-transform: uppercase;
}



@media (max-width: 991px) {
	#header .logo h1 {
		font-size: 28px;
		padding: 8px 0;
	}
}

#header .logo h1 a,
#header .logo h1 a:hover {
	color: #413e66;
	text-decoration: none;
}

#header .logo img {
	padding: 0;
	margin: 7px 0;
	max-height: 26px;
}

.main-pages {
	margin-top: 60px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation -----------------------------------------------*/
/* .main-nav { */
/* Drop Down */
/* Deep Drop Down */
/* } */

.main-nav,
.main-nav * {
	margin: 0;
	padding: 0;
	list-style: none;
}

.main-nav>ul>li {
	position: relative;
	white-space: nowrap;
	float: left;
}

.main-nav a {
	display: block;
	position: relative;
	color: #413e66;
	padding: 10px 15px;
	transition: 0.3s;
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
	text-transform: uppercase;
	font-weight: 600;
}

.main-nav a:hover,
.main-nav .active>a,
.main-nav li:hover>a {
	color: #1bb1dc;
	text-decoration: none;
}

.main-nav .drop-down ul {
	display: block;
	position: absolute;
	left: 0;
	top: calc(100% - 30px);
	z-index: 99;
	opacity: 0;
	visibility: hidden;
	padding: 10px 0;
	background: #fff;
	box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
	transition: ease all 0.3s;
}

.main-nav .drop-down:hover>ul {
	opacity: 1;
	top: 100%;
	visibility: visible;
}

.main-nav .drop-down li {
	min-width: 180px;
	position: relative;
}

.main-nav .drop-down ul a {
	padding: 10px 20px;
	font-size: 14px;
	font-weight: 500;
	text-transform: none;
	color: #065e77;
}

.main-nav .drop-down ul a:hover,
.main-nav .drop-down ul .active>a,
.main-nav .drop-down ul li:hover>a {
	color: #1bb1dc;
}

.main-nav .drop-down>a:after {
	content: "\f107";
	font-family: FontAwesome;
	padding-left: 10px;
}

.main-nav .drop-down .drop-down ul {
	top: 0;
	left: calc(100% - 30px);
}

.main-nav .drop-down .drop-down:hover>ul {
	opacity: 1;
	top: 0;
	left: 100%;
}

.main-nav .drop-down .drop-down>a {
	padding-right: 35px;
}

.main-nav .drop-down .drop-down>a:after {
	content: "\f105";
	position: absolute;
	right: 15px;
}

/* Mobile Navigation -----------------------------------------------------------*/
.mobile-nav {
	position: fixed;
	top: 0;
	bottom: 0;
	z-index: 9999;
	overflow-y: auto;
	left: -260px;
	width: 260px;
	padding-top: 18px;
	background: rgba(40, 38, 70, 0.8);
	transition: 0.4s;
}

.mobile-nav * {
	margin: 0;
	padding: 0;
	list-style: none;
}

.mobile-nav a {
	display: block;
	position: relative;
	color: #fff;
	padding: 10px 20px;
	font-weight: 500;
}

.mobile-nav a:hover,
.mobile-nav .active>a,
.mobile-nav li:hover>a {
	color: #8dc2fa;
	text-decoration: none;
}

.mobile-nav .drop-down>a:after {
	content: "\f078";
	font-family: FontAwesome;
	padding-left: 10px;
	position: absolute;
	right: 15px;
}

.mobile-nav .active.drop-down>a:after {
	content: "\f077";
}

.mobile-nav .drop-down>a {
	padding-right: 35px;
}

.mobile-nav .drop-down ul {
	display: none;
	overflow: hidden;
}

.mobile-nav .drop-down li {
	padding-left: 20px;
}

.li-nav {
	margin: 20px 20px 10px 10px;
}

.mobile-nav-toggle {
	position: fixed;
	right: 0;
	top: 0;
	z-index: 9998;
	border: 0;
	background: none;
	font-size: 24px;
	transition: all 0.4s;
	outline: none !important;
	line-height: 1;
	cursor: pointer;
	text-align: right;
}

.mobile-nav-toggle i {
	margin: 18px 18px 0 0;
	color: #065e77;
}

.mobile-nav-overly {
	width: 100%;
	height: 100%;
	z-index: 9997;
	top: 0;
	left: 0;
	position: fixed;
	background: rgba(40, 38, 70, 0.8);
	overflow: hidden;
	display: none;
}

.mobile-nav-active {
	overflow: hidden;
}

.mobile-nav-active .mobile-nav {
	left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
	color: #fff;
}

/*--------------------------------------------------------------
# Info Section
--------------------------------------------------------------*/
#info {
	width: 100%;
	height: 100vh;
	background: #f5f8fd url("../img/intro-bg.jpg") center top no-repeat;
	background-size: cover;
	padding: 150px 50px;
}

.intro-info {
	text-align: center;
}

@media (max-width: 767px) {
	#info {
		height: auto;
		padding: 80px 0 60px 0;
	}

	#info .container {
		height: auto !important;
	}

	#info .intro-img {
		width: 80%;
	}
}

@media (min-width: 992px) {
	#info .intro-info {
		padding-top: 80px;
	}
}

@media (max-width: 767px) {
	#info .intro-info {
		text-align: center;
		padding-top: 40px;
	}
}

#info .intro-info h2 {
	color: #413e66;
	margin-bottom: 40px;
	font-size: 48px;
	font-weight: 700;
}

#info .intro-info h2 span {
	color: #1bb1dc;
}

@media (max-width: 767px) {
	#info .intro-info h2 {
		font-size: 34px;
		margin-bottom: 30px;
	}
}

#info .intro-info .btn-get-started,
#info .intro-info .btn-produk {
	font-family: "Montserrat", sans-serif;
	font-size: 13px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
	display: inline-block;
	padding: 10px 32px;
	border-radius: 4px;
	transition: 0.5s;
	color: #fff;
	background: #1bb1dc;
	color: #fff;
}

#info .intro-info .btn-get-started:hover,
#info .intro-info .btn-produk:hover {
	background: #0a98c0;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
/* Sections Header
--------------------------------*/
.section-header h3 {
	font-size: 36px;
	color: #413e66;
	text-align: center;
	font-weight: 700;
	position: relative;
	font-family: "Montserrat", sans-serif;
}

.section-header p {
	text-align: center;
	margin: auto;
	font-size: 15px;
	padding-bottom: 60px;
	color: #535074;
	width: 50%;
}

@media (max-width: 767px) {
	.section-header p {
		width: 100%;
	}
}

/* Section with background
--------------------------------*/
.section-bg {
	background: #f5f8fd;
}


/* Produk on desktop
--------------------------------*/
#produk {
	padding: 10px 0 40px 0;
}

#produk .box {
	/*padding: 30px;
  */
	width: 250px;
	position: relative;
	overflow: hidden;
	border-radius: 10px;
	margin: 20px 0 20px 0;
	background: #fff;
	box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
	transition: all 0.3s ease-in-out;
	text-align: left;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

.card-box {
	border-radius: 5px;
	margin: 5px 0 5px 0;
	background: #fff;
	box-shadow: 10px 10px 29px 10px rgba(68, 88, 144, 0.1);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

#produk .box:hover {
	transform: scale(1.1);
	cursor: pointer;
}

#produk .icon {
	margin: 0 auto 15px auto;
	padding-top: 12px;
	display: inline-block;
	text-align: center;
	border-radius: 50%;
	width: 60px;
	height: 60px;
}

#produk .icon i {
	font-size: 36px;
	line-height: 1;
}

#produk .title {
	font-weight: 700;
	margin-bottom: 15px;
	font-size: 18px;
}

#produk .title a {
	color: #111;
}

#produk .box:hover .title a {
	color: #1bb1dc;
}

#produk .description {
	font-size: 14px;
	line-height: 28px;
	margin-bottom: 0;
	text-align: left;
}


/* Features Section
--------------------------------*/
#features {
	padding: 80px 0;
}

#features h4 {
	font-weight: 600;
	font-size: 24px;
}

/* About-me Section
--------------------------------*/
#about-me {
	padding: 30px 0;
}

#about-me img {
	max-width: 80%;
	opacity: 0.5;
	transition: 0.3s;
	padding: 15px 0;
}

#about-me img:hover {
	opacity: 1;
}

#about-me .owl-nav,
#about-me .owl-dots {
	margin-top: 5px;
	text-align: center;
}

#about-me .owl-dot {
	display: inline-block;
	margin: 0 5px;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: #ddd;
}

#about-me .owl-dot.active {
	background-color: #1bb1dc;
}


/* Artikel Section
--------------------------------*/
#artikel {
	padding: 10px 0;
	overflow: hidden;
	background: #f5f8fd;
}

#artikel #artikel-list {
	padding: 0;
	list-style: none;
}

#artikel #artikel-list li {
	border-bottom: 1px solid #ebebeb;
}

#artikel .alink {
	padding: 22px 0;
	display: block;
	position: relative;
	font-family: "Montserrat", sans-serif;
	font-size: 20px;
	line-height: 1;
	font-weight: 400;
	padding-right: 20px;
}

#artikel #artikel-list i {
	font-size: 24px;
	position: absolute;
	right: 0;
	top: 20px;
}

#artikel #artikel-list p {
	margin-bottom: 20px;
}

@media (max-width: 768px) {
	.modal.right .modal-content {
		height: 100%;
		overflow-y: auto;
		margin-top: 50px;
	}

	.pname {
		padding: 0;
		margin: 0px 0 5px 0;
	}

	.coli {
		margin: 5px 10px 5px 0;
	}

	/* modal on mobile */
/* 	 
	.v-dialog__content--active {
		background: rgba(0,0,0,.35);
	}
	.v-dialog__content {
		align-items: center;
		display: flex;
		height: 100%;
		justify-content: center;
		left: 0;
		pointer-events: none;
		position: fixed;
		top: 0;
		transition: .2s cubic-bezier(.25,.8,.25,1),z-index 1ms;
		width: 100%;
		z-index: 6;
		outline: none;
	}

	.v-dialog:not(.v-dialog--fullscreen) {
		max-height: 90%;
	}
	.v-dialog--bottom {
		margin: 0;
		position: fixed;
		overflow-y: auto;
		bottom: 0;
		left: 0;
		border-radius: 0;
	}
	.v-dialog--scrollable, .v-dialog--scrollable>form {
		display: flex;
	}
	.v-dialog {
		border-radius: 8px;
		margin: 24px;
		overflow-y: auto;
		pointer-events: auto;
		transition: .3s cubic-bezier(.25,.8,.25,1);
		width: 100%;
		z-index: inherit;
		box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
	}
	* {
		padding: 0;
		margin: 0;
	}
	*, :after, :before {
		background-repeat: no-repeat;
		box-sizing: inherit;
	}

	div {
		display: block;
	}
	.v-dialog__content {
		align-items: center;
		display: flex;
		height: 100%;
		justify-content: center;
		left: 0;
		pointer-events: none;
		position: fixed;
		top: 0;
		transition: .2s cubic-bezier(.25,.8,.25,1),z-index 1ms;
		width: 100%;
		z-index: 6;
		outline: none;
	}
	.theme--light .v-btn.v-btn--icon, .theme--light.v-sheet, .theme--light .v-icon, .theme--light.v-btn, .theme--light.v-application, .theme--light .v-tab.v-tab--active {
		color: rgba(96,5,31,0.8);
	}
	.theme--light.v-application {
		background: #fff;
		color: rgba(0,0,0,.8);
	}
	.v-application.theme--light .caption, .v-application.theme--light .body-1, .v-application.theme--light .display-1, .v-application.theme--light .display-2, .v-application.theme--light .display-3, .v-application.theme--light .display-4, .v-application {
		font-family: Rubik, sans-serif !important;
	}
	.v-application {
		font-family: Roboto,sans-serif;
		line-height: 20px;
	}

	.theme--light.v-application, .theme--light.v-app-bar, .v-dialog .theme--light.v-card, .bg {
		background-color: #FFFFFF !important;
	}
	.v-sheet.v-card:not(.v-sheet--outlined) {
		box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
	}

	.v-card--bottom, .v-dialog--bottom>.v-card {
		border-top-left-radius: 18px!important;
		border-top-right-radius: 18px!important;
		border-bottom-left-radius: 0!important;
		border-bottom-right-radius: 0!important;
	}
	.v-dialog--scrollable>.v-card, .v-dialog--scrollable>form>.v-card {
		display: flex;
		flex: 1 1 100%;
		flex-direction: column;
		max-height: 100%;
		max-width: 100%;
	}
	.v-sheet.v-card {
		border-radius: 8px;
	}
	.theme--light.v-card {
		background-color: #fff;
		color: rgba(0,0,0,.8);
	}
	.v-sheet:not(.v-sheet--outlined) {
		box-shadow: 0 0 0 0 rgba(0,0,0,.2), 0 0 0 0 rgba(0,0,0,.14), 0 0 0 0 rgba(0,0,0,.12);
	}
	.theme--light.v-sheet {
		background-color: #fff;
		border-color: #fff;
		color: rgba(0,0,0,.8);
	}
	.v-btn--contained, .v-card {
		box-shadow: 2px 2px 8px rgba(0,0,0,.18);
	}
	.v-dialog>* {
		width: 100%;
	}
	.v-card {
		border-width: thin;
		display: block;
		max-width: 100%;
		outline: none;
		text-decoration: none;
		transition-property: box-shadow,opacity;
		word-wrap: break-word;
		position: relative;
		white-space: normal;
	}
	.v-sheet {
		border-radius: 0;
	}
	* {
		padding: 0;
		margin: 0;
	}
	*, :after, :before {
		background-repeat: no-repeat;
		box-sizing: inherit;
	}
	
	.v-dialog {
		border-radius: 8px;
		margin: 24px;
		overflow-y: auto;
		pointer-events: auto;
		transition: .3s cubic-bezier(.25,.8,.25,1);
		width: 100%;
		z-index: inherit;
		box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
	}
	.v-dialog__content {
		align-items: center;
		display: flex;
		height: 100%;
		justify-content: center;
		left: 0;
		pointer-events: none;
		position: fixed;
		top: 0;
		transition: .2s cubic-bezier(.25,.8,.25,1),z-index 1ms;
		width: 100%;
		z-index: 6;
		outline: none;
	}
	.theme--light.v-application {
		background: #fff;
		color: rgba(0,0,0,.8);
	}
	

	.touch-indicator {
		background: rgba(0,0,0,.32);
		border-radius: 2px!important;
		height: 4px;
		width: 80px;
		position: absolute;
		top: 4px;
		left: 50%;
		transform: translateX(-50%);
	}

	.v-dialog>.v-card>.v-card__title {
		font-size: 20px;
		font-weight: 500;
		line-height: 24px;
		word-break: break-word;
	}

	.unicon {
		height: 24px;
	}
	.unicon {
		display: inline-block;
		fill: var(--uni-color-primary);
	}

	.v-dialog>.v-card>.v-card__title {
		font-size: 20px;
		font-weight: 500;
		line-height: 24px;
		word-break: break-word;
	}

	.v-dialog--scrollable>.v-card>.v-card__text, .v-dialog--scrollable>form>.v-card>.v-card__text {
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		flex: 1 1 auto;
		overflow-y: auto;
	}
	.v-dialog>.v-card>.v-card__subtitle, .v-dialog>.v-card>.v-card__text {
		padding: 0 24px 20px;
	}
	.theme--light.v-card .v-card__subtitle, .theme--light.v-card>.v-card__text {
		color: rgba(0,0,0,.4);
	}
	.v-card > .v-card__text, .v-card .v-card__subtitle {
		color: rgba(96,5,31,0.8)!important;
	}
	.v-card .v-card__subtitle, .v-card>.v-card__text {
		color: rgba(0,0,0,.8)!important;
	}
	.v-card__title+.v-card__subtitle, .v-card__title+.v-card__text {
		padding-top: 0;
	}
	.v-card__text {
		width: 100%;
	}
	.v-card__subtitle, .v-card__text, .v-card__title {
		padding: 16px;
	}
	.v-card__subtitle, .v-card__text {
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
		letter-spacing: 0;
	}
	
	.v-application .align-center {
		align-items: center!important;
	}
	.layout {
		display: flex;
		flex: 1 1 auto;
		flex-wrap: nowrap;
		min-width: 0;
	}
	

	
.flex--wrap {
    flex: 0 0 auto;
}

.theme--light.v-image {
    color: rgba(0,0,0,.8);
}
.v-responsive {
    position: relative;
    overflow: hidden;
    flex: 1 0 auto;
    max-width: 100%;
    display: flex;
}
.v-image {
    z-index: 0;
}

.v-application .ml-2 {
    margin-left: 8px!important;
}
.o-hidden {
    overflow: hidden;
}
.flex--fill {
    flex: 1 1 0;
}
.child-flex>*, .flex {
    flex: 1 1 auto;
    max-width: 100%;
}

.theme--light .badge.small {
    font-size: 12px;
    line-height: 16px;
}
.v-application .secondary {
    background-color: rgb(96,5,31) !important;
    border-color: rgb(96,5,31) !important;
}
.theme--light .badge, .theme--light .badge.v-icon, .theme--light .badge .v-icon {
    font-size: 14px;
    color: #fff;
    line-height: 20px;
    padding: 0 4px;
    vertical-align: baseline;
}
.theme--light .badge {
    display: inline-flex;
    align-items: center;
}
.v-application .secondary {
    background-color: #000!important;
    border-color: #000!important;
}

.v-application .font-weight-bold {
    font-weight: 700!important;
}
.lines-1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.v-application.theme--light .caption, .v-application.theme--light .body-1, .v-application.theme--light .display-1, .v-application.theme--light .display-2, .v-application.theme--light .display-3, .v-application.theme--light .display-4, .v-application {
    font-family: Rubik, sans-serif !important;
}

.v-application .light--text {
    color: rgba(96,5,31,0.62)!important;
}
.v-application .caption {
    font-size: 12px!important;
    line-height: 16px;
}
.v-application .body-1, .v-application .caption {
    font-weight: 400;
    letter-spacing: 0!important;
    font-family: Roboto,sans-serif!important;
}
.v-application .light--text {
    color: #9f9f9f!important;
    caret-color: #9f9f9f!important;
}

.lines-1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.v-application .mx-1 {
    margin-right: 4px!important;
    margin-left: 4px!important;
}
.v-application .font-weight-bold {
    font-weight: 700!important;
}
.flex--wrap {
    flex: 0 0 auto;
} */







	#artikel #artikel-list a {
		font-size: 18px;
	}

	#artikel #artikel-list i {
		top: 13px;
	}

	/* produk on mobile */
	#produk {
		padding: 10px 0 30px 0;
	}

	#produk .col {
		width: 100%;
	}

	#produk .box {
		width: 100%;
		position: relative;
		overflow: hidden;
		border-radius: 10px;
		margin: 5x 0px 10px 0px;
		background: #fff;
		box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
		/* transition: all 0.3s ease-in-out;
		text-align: left;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out; */
	}

	.card-box {
		width: 100%;
		border-radius: 5px;
		margin: 5px 0 5px 0;
		background: #fff;
		box-shadow: 10px 10px 29px 10px rgba(68, 88, 144, 0.1);
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		-ms-border-radius: 5px;
		-o-border-radius: 5px;
	}

	#produk .box:hover {
		transform: scale(1.1);
		cursor: pointer;
	}

	#produk .icon {
		margin: 0 auto 15px auto;
		padding-top: 12px;
		display: inline-block;
		text-align: center;
		border-radius: 50%;
		width: 60px;
		height: 60px;
	}

	#produk .icon i {
		font-size: 36px;
		line-height: 1;
	}

	#produk .fotoproduk {
		width: 100%;
		height: auto;
		background-size: cover;

	}

	#produk .title {
		font-weight: 700;
		margin-bottom: 15px;
		font-size: 18px;
	}

	#produk .title a {
		color: #111;
	}

	#produk .box:hover .title a {
		color: #1bb1dc;
	}

	#produk .description {
		font-size: 14px;
		line-height: 28px;
		margin-bottom: 0;
		text-align: left;
	}

}

#artikel #artikel-list a.collapse {
	color: #1bb1dc;
}

#artikel #artikel-list a.collapsed {
	color: #000;
}

#artikel #artikel-list a.collapsed i::before {
	content: "\f2c7" !important;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
	padding: 0 0 30px 0;
	font-size: 14px;
	background: #fff;
}

@-webkit-keyframes animate-loading {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes animate-loading {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

#footer .copyright {
	text-align: center;
	padding-top: 30px;
	color: #535074;
	font-size: 15px;
}

#footer .credits {
	text-align: center;
	font-size: 14px;
	padding-top: 4px;
	color: #8582a8;
}

#footer .credits a {
	color: #1bb1dc;
}

#footer .credits a:hover {
	color: #0a98c0;
}



.slick-prev:before {
	color: #4f5b6c;
}

.slick-next:before {
	color: #4f5b6c;
}

.boxorder {
	margin-top: 100px;
}



/* 
-------------------------------------------------------- */
